out/

# MacOS files
*.DS_Store

# WSL files
*.Identifier

# Cert
security/monsterrom_platform.x509.pem
security/monsterrom_platform.pk8

# Local scratch and build logs
nuke/
paradox.txt

#
# We don't want to ignore the following even if they are dot-files
#
!.gitattributes
!.gitignore
!.gitmodules
